# Personalitzar error 404 (pàgina no trobada)
ErrorDocument 404 /Html/404.php

# Personalitzar error 403 (accés prohibit)
ErrorDocument 403 /errors/403.html

# Personalitzar error 500 (error del servidor)
ErrorDocument 500 /errors/500.html
RewriteEngine On

# Redirigir todas las solicitudes que comiencen con /api/ a index.php
RewriteCond %{REQUEST_URI} ^/Backend_Pt5/api/
RewriteRule ^api/(.*)$ index.php [QSA,L]