:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a2e;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas: 'content';
  position: relative;
}

/* Barra de navegación */
.menu {
  position: fixed;
  top: 40px;
  right: 100px;
  z-index: 1000;
}

.account-icon {
    position: relative;
    display: inline-block;
}

.account-icon img {
    stroke: #ffffff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Estilo del menú desplegable */
.account-icon .dropdown {
    display: none;
    position: absolute;
    top: 8px;
    right: 15px;
    background-color: #333;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.account-icon .dropdown li {
    list-style: none;
}

.account-icon .dropdown li a {
    display: block;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    background-color: gray;
    transition: background-color 0.3s ease;
}

.account-icon .dropdown li a:hover {
    background-color: #212120;
}

.account-icon:hover img {
  transform: scale(0.1);
  opacity: 0;
}

.account-icon.active .dropdown {
  display: block;
  opacity: 1;
  visibility: visible;
}

.account-icon:hover .dropdown {
  display: block;
  opacity: 1;
  visibility: visible;
}

.content {
  grid-area: content;
  padding: 5% 20%;
}

.articulo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.ArticulosInicio{
  background: none;
  border: none;
}

.articulo {
  max-height: 20vh;
  overflow: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  text-overflow: ellipsis;
  border: 1px solid #ccc;
  padding: 16px;
  background-color: gray;
  border-radius: 4px;
}

.titulo {
  text-align: center;
}

.texto {
  text-align: justify;
}

.content h1 {
  text-align: center;
}

/* Paginación */
.pagination {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.pagination a {
  padding: 10px 15px;
  margin: 0 5px;
  text-decoration: none;
  color: #007BFF;
  background-color: white;
  border: 1px solid #007BFF;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: #007BFF;
  color: white;
}

.current-page {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
}

.arrow {
  padding: 10px 15px;
  margin: 0 5px;
  text-decoration: none;
  color: #007BFF;
  border: 1px solid #007BFF;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.arrow:hover {
  background-color: #007BFF;
  color: white;
}

/* Responsivo */
/* Ajustes para pantallas medianas */
@media (max-width: 1024px) {
  .content {
      padding: 5% 10%;
  }

  .menu {
      top: 20px;
      right: 50px;
  }
}

/* Hover en pantallas grandes */
@media (min-width: 769px) {
  .account-icon:hover img {
      transform: scale(0.1);
      opacity: 0;
  }
  .account-icon:hover .dropdown {
      display: block;
      opacity: 1;
      visibility: visible;
  }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .content {
      padding: 5%;
  }

  .articulo-container {
      grid-template-columns: 1fr; /* Cambiar a una sola columna */
  }

  .pagination {
      position: relative;
      left: 0;
      bottom: 0;
      transform: none;
      margin-top: 20px;
  }

  .account-icon img {
    opacity: 1;
    transform: scale(1);
}
.account-icon.active .dropdown {
  display: block;
  opacity: 1;
  visibility: visible;
}
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 480px) {
  .menu {
      right: 20px;
  }

  .account-icon img {
      width: 30px;
      height: 30px;
  }

  .pagination a, .current-page {
      padding: 8px 12px;
      margin: 0 3px;
  }
}
